@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Allow alternate checkmarks/radio buttons */
menuitem[type="checkbox"],
menuitem[type="radio"],
menuitem[checked="true"] {
  -moz-appearance: menuitem !important;
}

menuitem[type="checkbox"] > .menu-iconic-left,
menuitem[type="radio"] > .menu-iconic-left,
menuitem[checked="true"] > .menu-iconic-left {
  -moz-appearance: menuimage !important;
}

menuitem[type="checkbox"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[checked="true"] > .menu-iconic-left > .menu-iconic-icon,
menuitem[type="radio"] > .menu-iconic-left > .menu-iconic-icon {
  display: -moz-box !important;
}

/* Checkbox menuitems */
menuitem[checked="true"],
menuitem[type="checkbox"][checked="true"],
.subviewbutton[checked="true"],
#web-developer-context menuitem[type="checkbox"][checked="true"] .menu-iconic-left,
#web-developer-menu menuitem[type="checkbox"][checked="true"] .menu-iconic-left,
#web-developer-app-menu menuitem[type="checkbox"][checked="true"] .menu-iconic-left,
#web-developer-toolbar menuitem[type="checkbox"][checked="true"] .menu-iconic-left {
  list-style-image: url("external.png") !important;
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

/* Radio (option) button menuitems */
menuitem[type="radio"]:not([flagitem="true"]):not([checked="true"]),
#PanelUI-characterEncodingView .subviewbutton {
  list-style-image: url("external.png") !important;
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}
menuitem[type="radio"][checked="true"],
#PanelUI-characterEncodingView .subviewbutton[checked="true"] {
  list-style-image: url("external.png") !important;
  -moz-image-region: rect(0, 64px, 16px, 48px) !important;
}

/* Australis rules */
.menu-iconic-left {
  visibility: visible !important;
}

.subviewbutton[type="checkbox"],
.subviewbutton[type="radio"],
.subviewbutton[checked="true"] {
  -moz-appearance: none !important;
  background-image: none !important;
}

.subviewbutton[checked="true"] {
  list-style-image: url("external.png") !important;
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

.subviewbutton[type="checkbox"] > .menu-iconic-left,
.subviewbutton[type="radio"] > .menu-iconic-left,
.subviewbutton[checked="true"] > .menu-iconic-left {
  -moz-appearance: none !important;
}

.subviewbutton > .toolbarbutton-icon {
  width: 16px !important;
  height: 16px !important;
}
.subviewbutton > .toolbarbutton-text {
  -moz-padding-start: 0 !important;
  -moz-margin-start: 0 !important;
}

/* Classic Theme Restorer fix */
#appmenu-popup hbox > menu > .menu-iconic-left {
  visibility: collapse !important;
}

/* Quick Locale Switcher fix */
menuitem[flagitem="true"][checked="true"] .menu-iconic-icon {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
